<h1 class="text-center"><%= @product.title %></h1>

<%= image_tag @product.image, class: 'center-block' %>
<br>
<p class="text-center">
  $<%= @product.price %>
</p>
<p class="text-center">
  <%= @product.description %>
</p>
