<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if flash[:success] %>
  <div class="success">Flash: <%= flash[:success] %></div>
<% end %>

<% if flash[:warning] %>
  <div class="warning">Flash: <%= flash[:warning] %></div>
<% end %>
